.container {
  grid-area: header;
  background: var(--secondaryColor);
  width: 100%;
  display: flex;
  align-items: center;
}
.hamburgerWrapper {
  width: var(--sidebarWidth);
  display: flex;
  justify-content: center;

  /*Toggle hamburger*/
  visibility: var(--showHamburger);
}
