.sidebarWrapper {
  grid-area: sidebar;
  position: relative;
  background-color: var(--primaryColor);
}

.navWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
}

.navItem {
  width: var(--sidebarWidth);
  list-style-type: none;
  padding: 24px;
  margin: 0;
  height: 100vh;
  font-size: 2.5rem;
  color: black;
}

.navItem * + * {
  padding-top: 12px;
}

.navItem:first-child {
  padding-top: 16px;
}
