.sidebarWrapper {
  position: relative;
}

.navWrapper {
  position: fixed;
  top: 0px;
  left: 0px;
}

.navItem {
  width: 250px;
  background-color: var(--primaryColor);
  list-style-type: none;
  padding: 40;
  margin: 0;
  height: 100vh;
  font-size: 2.5rem;
  color: black;
}

.navItem * + * {
  padding-top: 12px;
}

.navItem:first-child {
  padding-top: 16px;
}
