.speechArea {
  min-height: 200px;
  min-width: 100%;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.textBox {
  min-width: 98%;
  height: 150px; /* Set an initial height */
  border: dashed 1px;
  margin-top: 5px;
  resize: both; /* Allow resizing in both directions */
  overflow: auto; /* Required for resize to work properly */
}

.mic {
  display: block;
  margin: 10px;
  height: 26px;
}

.mic:hover {
  cursor: pointer;
}

.micWrapper {
  flex-basis: 15px;
  position: relative;
}

.mirrorArea {
  padding: 12px 18px;
  background-color: brown;
  border-radius: 5px;
  margin-top: 5px;
}
