html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bgColor);
  color: var(--primaryTextColor);
}

a {
  color: inherit;
  text-decoration: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primaryColor: #e49fb6;
  --primaryTextColor: aliceblue;
  --primaryHoverColor: #dd7c9e;
  --secondaryColor: #f5dfe6;
  --bgColor: #5b6270;
}
